@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 12px;
  }
  
body::-webkit-scrollbar-track {
    background: transparent;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #0194c8;
    border-radius: 20px;
    border: 3px solid #101113;
}